@page "/ViewProfile"

<div class="main">
    <div class="row">
        <!-- Left Column -->
        <div class="col-md-4 col-sm-12 mt-2">
            <Profile />
        </div>

        <!-- Middle Column -->
        <div class="col-md-8 col-sm-12 mt-2">
            <EditProfile isFileUploaded="checkFileUploadOrNot" isInterestAdded="checkUserInterestAddedOrNot" 
                         isInformationUpdated="checkInformationUpdatedOrNot" />
        </div>
    </div>
</div>


@code {

    void checkFileUploadOrNot(bool isUploaded)
    {
        if (isUploaded)
        {
            navigationManager.NavigateTo("ViewProfile", true);
        }
    }

    void checkUserInterestAddedOrNot(bool isAdded)
    {
        if (isAdded)
        {
            navigationManager.NavigateTo("ViewProfile", true);
        }
    }

    void checkInformationUpdatedOrNot(bool isUpdated)
    {
        if (isUpdated)
        {
            navigationManager.NavigateTo("ViewProfile", true);
        }
    }
}
