@layout ErrorLayout
@page "/Error/AccessDenied"

<div class="jumbotron-fluid">
    <div class="row">
        <div class="col-sm-12 text-center">
            <h4><span class="border-bottom text-danger">Access Denied</span></h4>
        </div>
        <div class="col-sm-12 mt-5 text-center">
            <div class="p-5">
                <img src="/Images/stop-animation.gif" alt="AccessDenied" class="img-fluid" />
            </div>
        </div>
    </div>
</div>

@code {

}
